.gragasLogin {
  padding: 0;
  width: 335px;
  height: 50px;
  border: 1px solid rgb(0, 150, 243);
  background: white;
  border-radius: 5px;
}

.gragasLogin label {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: rgb(0, 150, 243);
  cursor: pointer;
}

.loginTitle{
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  color: rgb(62, 62, 62);
  margin-bottom: 60px;
  width: 335px;
}

.loginTitle img {
  margin-left: 3px;
  width: 35px;
  height: 35px;
}

.input-form-box {
  margin-bottom: 30px;
}

.user_search_id {
  width: 390px;
}

.login_search a{
  color: rgb(62, 62, 62);
  margin: 5px 10px;
}

.join_wrap {
  width: 390px;
}