.mypage {
    padding: 30px 10px 130px;
}

.icon_img {
    width: 30px;
    height: 30px;
}

.nav_title{
    text-align: center;
    cursor: pointer;
}

.top_nav {
    border: 1px solid rgb(224,224,224);
    margin-bottom: 10px;
    padding: 26px 0px 28px 20px;
    border-radius: 10px;
}

.myInfo {
    border-right: 0.5px solid rgb(178, 178, 178);
    padding: 0 40px;
}

.level_img {
    width: 25px;
}

.userCoupon {
    display: flex;
    margin-right: 10px;
}

.member_info_column {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.28px;
}

.blue {
    cursor: pointer;
    color: rgb(0, 150, 243);
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

.top_nav_number {
    text-decoration: none;
    color: rgb(255, 186, 0);
    margin-bottom: 1rem;
    margin-left: 10px;
}

.user_info {
    border-radius: 20px;
    border: 1px solid rgb(224,224,224);
    padding: 30px 60px;
}

.text-secondary {
    margin-bottom: 8px;
}

.member_delete {
    text-decoration: underline;
    margin-top: 30px;
    margin-right: 50px;
    text-align: right;
}

.member_delete a {
    cursor: pointer;
}

.user_delivery {
    margin-top: 20px;
}

.userAddr {
    border: 1px solid rgba(61, 61, 61, 0.18);
    border-radius: 5px;
    padding: 40px 20px;
    margin: 0px auto;
    width: 390px;
}

.userSubAddr {
    width: 390px;
}

.userAddrHeader {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    border-bottom: 1px solid rgba(61,61,61, 0.3);
}

.delivery_btn {
    width: 100%;
    height: 52px;
    padding: 0;
    margin: 35px 0px 0px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 52px;
}

.coment_blue {
    font-weight: 700;
    font-size: 16px;
    color: rgb(0,150,243);
    margin-top: 30px;
}

.coment_gray {
    font-weight: 400;
    font-size: 13px;
}

.userAddrName {
    font-size: 16px;
    font-weight: bold;
}

.userAddrContent {
    border: 1px solid rgba(61, 61, 61, 0.18);
    border-radius: 5px;
    font-size: 13px;
    line-height: 140%;
    text-align: left;
    word-break: break-word;
    padding: 20px 15px;
    margin-top: 20px;
}

.userAddrBtn {
    width: 58px;
    margin: 0;
    text-decoration: underline;
}

.userAddrMargin {
    margin-top: 8px;
}

.addrMessage {
    width: 100%;
    color: rgba(61,61,61, 0.6);
}

.delivery_input {
    width: 390px;
    margin-top: 30px;
}

.form_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
}

.delivery_content {
    padding: 40px 20px;
    margin: auto;
}

.btn {
    margin-bottom: 10px;
}

.form_addr {
    margin-bottom: 5px;
}

.user_info {
    margin-top: 20px;
}

.user_info_title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

.user_info_update_btn_box {
    text-align: right;
}

.user_info_update_btn {
    color: rgb(0, 150, 243);
    text-decoration: underline;
    border: none;
    background-color: white;
    text-align: right;
    margin-top: 30px;
}

.user_info_update_text {
    text-decoration: underline;
}