button{
    cursor: pointer;
    border: none;
    outline: none;
}
.subscribe_box {
    display: flex;
    justify-content: flex-start;
}

.subs_img img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.subs_img {
    width: 100%;
    max-width: 464px;
}

.subs_box {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 50px auto;
    padding: 0px 20px;
}


.subscribe_header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    border-top-color: rgba(0, 0, 0, 0.16);
    border-right-color: rgba(0, 0, 0, 0.16);
    border-left-color: rgba(0, 0, 0, 0.16);
    position: sticky;
}

.button_flex button {
    width: 120px;
    height: 52px;
}

.blackBox {
    background-color: black;
    width: 100%;
}

.desBar button {
    width: 120px;
    height: 52px;
    color: white;
}

.button_flex button:hover {
    background-color: #cccccc;
}

.main_div1 {
    display: flex;
    justify-content: center;
}

.main_div2 {
    text-align: left;
}

.siSubject {
    color: black;
    font-size: 44px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.32px;
    margin-bottom: 2px;
}

.siPrice {
    font-size: 34px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.02px;
}

.siContent {
    width: 450px;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.22px;
    color: rgba(61, 61, 61, 0.6);
}

.smallFont {
    color: black;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.smallMarginBox {
    margin-top: 10px;
}

.mediumMarginBox {
    margin-top: 20px;
}

.largeMarginBox {
    margin-top: 30px;
}

.des_img {
    display: block;
    width: 80%;
    height: 100%;
    max-width: 1680px;
    margin: auto;
}

.subscribeButton {
    margin-top: 80px;
    text-align: center;
    width: 350px;
    height: 50px;
    background-color: rgb(0, 150, 243);
    border: 1px solid rgb(0, 150, 243);
    border-radius: 5px;
    padding: 0px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    box-shadow: none !important;
    text-shadow: none !important;
    align-items: center;
}

.subscribeButton:hover {
    background-color: rgb(45, 123, 195);
    border: 1px solid rgb(45, 123, 195);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.itemDesc{
    overflow: hidden;

}

.itemDesc div img{
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.otherTitle{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-weight: bold;
}

.mainBox{
    vertical-align: middle;
    display: grid;
}
.payMentAmount{
    border-top: 1px solid black;
    display: flex;
}
.otherInfo{
    border: 1px solid rgba(61, 61, 61, 0.18);
    border-radius: 5px;
    font-size: 13px;
    line-height: 140%;
    text-align: left;
    word-break: break-word;
    padding: 20px 15px;
    margin-top: 20px;

}
.otherButton{
    width: 100%;
    height: 52px;
    padding: 0;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 52px;
}

.subsItemInfo{
    padding: 0;
    margin: 25px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.dateOrNote{
    width: 100%;
    border-top: 1px solid black;
    display: block;
}
.subsNote ul li{
    margin: 25px 0px 0px;
}

.spmAgreeBox div div{
    display: flex;
    justify-content: space-between;
}

.textArea{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid rgba(61, 61, 61, 0.18);
    border-radius: 5px;
    font-size: 15px;
    text-align: left;
    color: black;
    font-weight: 400;
    line-height: 140%;
    margin-top: 8px;
    padding: 14px;
}

input[type=checkbox]{
    zoom: 1.5;
}
label[for="agreeCheck"] {
    position: relative;
    top: 10px;
  }
.dispFlex{
    display: flex;
    justify-content: space-between;
}
.dispContent{
    display: contents;
}
.otherInfo.selected{
    border: 1px solid #0b5ed7;
}
.selectClass .otherInfo:not(.selected){
    display:none;
}

.container-md{
    width: 1140px;
}

.subsItemBox{
    width: 270px;
    height: 390px;
    padding: 0px;
    border-radius: 10px;
}
.subsItemBox:hover{
    cursor: pointer;
    border: 1px solid rgb(0, 150, 243);
}
.subsItemBox div img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 250px;
}

.subsItemBox div{
    text-align: center;
}

.subsItemBox div div h4{
    font-weight: bold;
    margin-top: 4px;
}
.subsItemBox div p{
    margin-top: 10px;
}
.imgBoxFlex{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-weight: bold;
}

.smallBox{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.smallBox p{
    font-size: small;
    margin-right: 10px;
    background-color: rgb(227, 242, 253);
    color: rgb(0, 150, 243);
    padding: 4px 4px;
    border-radius: 5px;
    border: none;
}
/* ------------------------------------------------------------------------------- */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1000px; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 9999; 
    overflow: hidden;
}

.spinner {
    width: 70px;
    height: 70px;
    border: 7px solid rgba(163, 151, 198, 0.2);
    border-top: 7px solid rgba(163, 151, 198, 1);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.itemDiv{
    margin-top: 20px;
    margin-bottom: 40px;
}
.selected-button {
    border-bottom: 2px solid rgb(255, 187, 0); /* 원하는 색상 */
    color: #000;
}
.selected-button img {
    filter: none;
}
.unselected-button {
    color: #888; /* 회색 텍스트 */
}
.unselected-button img {
    filter: grayscale(100%) brightness(80%);
}